{% extends "base.html" %} 

{% load static %} 

{% block content %}
<div class="register">
  <h2 class="register__headline">Регистрация</h2>
  <form method="post" novalidate class="register__form">
    {% csrf_token %} 
    
    {% if form.non_field_errors %}
    <div class="form__errors">
      {% for error in form.non_field_errors %}
      <p class="form__error">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %} 
    
    {% for field in form %}
    <div class="form__group">
      <label class="register__label"> {{ field.label }}: {{ field }} </label>
      {% if field.errors %}
      <div class="form__errors">
        {% for error in field.errors %}
        <p class="form__error">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="register__button">Зарегистрироваться</button>
  </form>
  <a class="register__link" href="{% url 'login' %}"> Войти </a>
</div>
{% endblock %}
