<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block title %}
    <title>Кондитерская "Sweet&Bliss"</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>

  <body>
    <header class="header">
      <div class="header__wrapper">
        <div class="header__top">
          <div class="logo">
            <a href="{% url 'index' %}" class="logo__link">
              <img
                src="{% static 'img/svg/sweet_and_bliss_logo.svg' %}"
                alt="Логотип 'Sweet&Bliss'"
                class="logo__image"
              />
              Магазин-кондитерская
            </a>
          </div>
          <search class="search">
            <form class="search__form">
              <button class="search__button">
                <img
                  class="search__image"
                  src="{% static 'img/svg/search.svg' %}"
                />
                Поиск
              </button>
              <input class="search__input" type="search" />
            </form>
          </search>
        </div>
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link" href="{% url 'index' %}">
                <img
                  class="navigation__image"
                  src="{% static 'img/svg/home.svg' %}"
                />
                Главная
              </a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="{% url 'cakes' %}">
                <img
                  class="navigation__image"
                  src="{% static 'img/svg/cake.svg' %}"
                />
                Десерты
              </a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">
                <img
                  class="navigation__image"
                  src="{% static 'img/svg/cart.svg' %}"
                />
                Корзина
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="navigation__item">
              <form action="#" method="post" class="navigation__link">
                {% csrf_token %}
                <img
                  class="navigation__image"
                  src="{% static 'img/svg/user.svg' %}"
                />
                <button type="submit" class="navigation__btn">Выйти</button>
              </form>
            </li>
            {% else %}
            <li class="navigation__item">
              <a class="navigation__link" href="#">
                <img
                  class="navigation__image"
                  src="{% static 'img/svg/user.svg' %}"
                />
                Зарегистрироваться
              </a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">
                <img
                  class="navigation__image"
                  src="{% static 'img/svg/user.svg' %}"
                />
                Войти
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="main">
      <section class="content">
        <div class="content__wrapper">
          {% block content %} 
          {% endblock %} 
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__main">
          <div class="logo">
            <a href="{% url 'index' %}" class="logo__link">
              <img
                src="{% static 'img/svg/sweet_and_bliss_logo.svg' %}"
                alt="Логотип 'Sweet&Bliss'"
                class="logo__image"
              />
            </a>
          </div>
          <div class="navigation">
            {% block sidebar %}
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link" href="{% url 'index' %}">Главная</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="{% url 'cakes' %}">Десерты</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">Корзина</a>
              </li>
            </ul>
            {% endblock %}
          </div>
          <div class="contacts">
            <ul class="contacts__list">
              <li class="contacts__item">
                <a class="contacts__link" href="{% url 'index' %}">
                  <img
                    class="contacts__image"
                    src="{% static 'img/svg/vk.svg' %}"
                  />
                </a>
              </li>
              <li class="contacts__item">
                <a class="contacts__link" href="{% url 'index' %}">
                  <img
                    class="contacts__image"
                    src="{% static 'img/svg/tg.svg' %}"
                  />
                </a>
              </li>
            </ul>
            <p class="contacts__item">+7 (123) 456-78-90</p>
            <p class="contacts__item">sweetandbliss@mail.ru</p>
          </div>
        </div>
        <p class="footer__copyright">© 2024, Алексеев К. И. Все права защищены.</p>
      </div>
    </footer>
  </body>
</html>
