{% extends "base.html" %} 

{% block content %}
<div class="checkout">
  <h2 class="checkout__headline">Оформление заказа</h2>
  <form method="post" class="checkout__form" novalidate>
    {% csrf_token %}
    <label class="checkout__label">
      {{ form.delivery_address.label }}: 
      {{ form.delivery_address }} 

      {% if form.delivery_address.errors %}
      <div class="form__errors">
        {% for error in form.delivery_address.errors %}
        <p class="form__error">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </label>
    <label class="checkout__label">
      {{ form.execution_date.label }}: 
      {{ form.execution_date }} 

      {% if form.execution_date.errors %}
      <div class="form__errors">
        {% for error in form.execution_date.errors %}
        <p class="form__error">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </label>

    <p class="checkout__cost">
      Итоговая стоимость: <span class="cost">{{ total_cost }}₽</span>
    </p>
    <button type="submit" class="checkout__button">Заказать</button>
  </form>
</div>
{% endblock %}
