{% extends "base.html" %} 

{% block content %}
<div class="order">
  <h1 class="order__headline">Детали заказа</h1>
  <div class="order__infos">
    <p class="order__info">Номер заказа: {{ order.id }}</p>
    <p class="order__info">Пользователь: {{ order.user.first_name }} {{ order.user.last_name }}</p>
    <p class="order__info">Адрес доставки: {{ order.delivery_address }}</p>
    <p class="order__info">Дата доставки: {{ order.execution_date }}</p>
    <p class="order__info">
      Статус:
      {% if order.status == "О" %}
          Ожидается
      {% elif order.status == "З" %}
          Завершён
      {% endif %}
    </p>
  </div>

  <h2 class="order__subheadline">Состав заказа:</h2>
  <table class="table">
    <thead class="table__head">
      <tr class="table__row">
        <th class="table__head-cell">Торт</th>
        <th class="table__head-cell">Количество</th>
        <th class="table__head-cell">Цена за единицу</th>
        <th class="table__head-cell">Общая стоимость</th>
      </tr>
    </thead>
    <tbody class="table__body">
      {% for item in order_items %}
      <tr class="table__row">
        <td class="table__cell">{{ item.cake.title }}</td>
        <td class="table__cell">{{ item.quantity }}</td>
        <td class="table__cell">{{ item.unit_price }}₽</td>
        <td class="table__cell">{{ item.total_price }}₽</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p class="order__total">Итоговая стоимость: <span class="cost">{{ order.cost }}₽</span></p>
</div>
{% endblock %}
